.Recommended_btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  & > button {
    border-image: linear-gradient(
      to right,
      #747bff1e,
      #747bff
    );
    border-image-slice: 1;
    animation: turing_bordre 0.8s ease-in-out infinite
      alternate;
    &:nth-child(2n + 1) {
      animation-delay: 0.3s;
    }
    &:nth-child(3n + 1) {
      animation-delay: 0.6s;
    }
  }

  @media (min-width: 1025px) {
    margin-left: 20rem;
  }
  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.Recommended_title {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3rem;

  @media (min-width: 1025px) {
    margin-left: 20rem;
  }
}

@keyframes turing_bordre {
  100% {
    border-image: linear-gradient(
      to left,
      #747bff1e,
      #747bff
    );
    border-image-slice: 1;
  }
}
