.sidebar {
  position: absolute;
  border-right: 1px solid #747bff;

  z-index: 3;
  display: flex;
  flex-direction: column;
  padding-inline-end: 2rem;

  border-image: linear-gradient(
    to bottom,
    #747bff1e,
    #747bff
  );
  border-image-slice: 1;
  animation: turing_bordre 1.5s ease-in-out infinite
    alternate;

  @media (max-width: 1024px) {
    display: none;
  }
}

.logo_container {
  margin-bottom: 4rem;
}
.cart_icon {
  font-size: 2rem;
  margin-top: 1.3rem;
}
@keyframes turing_bordre {
  100% {
    border-image: linear-gradient(
      to left top,
      #747bff1e,
      #747bff
    );
    border-image-slice: 1;
  }
}
