.nav_container,
.search_input,
.profile_container,
.nav_icons {
  color: aliceblue;
}

nav {
  display: flex;
  border: 2px solid #747bff;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  @media (min-width: 1025px) {
    margin-left: 20rem;
  }
  &.sticky_header {
    position: sticky;
    top: 5px;
    z-index: 99;
    opacity: 0.9;
  }
  .search_input {
    padding: 12px 20px;
    border: none;
    background-color: #747bff1e;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #747bff1e;
    width: 14rem;

    &:focus {
      border-color: #747bff;
    }
  }

  .nav_icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }

  @media (max-width: 480px) {
    .profile_container {
      display: none;
    }
    .nav_container {
      flex-grow: 1;
      & input {
        width: 100%;
      }
    }
  }
}
