.card_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1rem;

  @media (min-width: 1025px) {
    margin-left: 20rem;
  }
}

.card {
  border: 2px solid #747bff;
  border-image: linear-gradient(
    to right bottom,
    #747bff1e,
    #747bff
  );
  border-image-slice: 1;
  padding: 1rem;
  flex: 1;
  cursor: pointer;
  border-radius: 1.5rem;
  position: relative;
  transition: border-image 0.6s;
  animation: turing_bordre 1s ease-in-out infinite alternate;

  &:nth-child(2n + 1) {
    animation-delay: 0.3s;
  }
  &:nth-child(3n + 1) {
    animation-delay: 0.6s;
  }
}
.card_img {
  width: 100%;
  margin-bottom: 1rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.card_title {
  margin-bottom: 1rem;
  text-align: center;
}

.card_reviews {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.rating_start {
  color: #d5ab55;
}

.total_reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

del {
  color: red;
  font-size: smaller;
}
del + span {
  color: greenyellow;
}

.bag_icon {
  color: #d508bd;
}

@keyframes turing_bordre {
  100% {
    border-image: linear-gradient(
      to left top,
      #747bff1e,
      #747bff
    );
    border-image-slice: 1;
  }
}
